page-detalles {
.but {
    font-family: Roboto;
    font-size: 15 px;
    text-align: center;
    color: #A9A9A9;
    background: #CC7F75 ;
}
.but:hover{
    background: #CC7F75;
}

.fondo{
    background: #EFEFEF;
}

.barramenu {
    background: #F6F6F6;
}

.textoBoton {
    font-family: Roboto;
    font-size: 10 px;
    color: #CC7F75;
}

}
