page-detalles {
.but {
    font-family: IndieFlower, cursive;
    font-size: 15 px;
    font-weight: bold;
    text-align: center;
    color: #CC7F75;
    background: #A9A9A9;
}

.fondo{
    background: #EFEFEF;
}

.barramenu {
    background: #F6F6F6;
}
}
