page-home {

}

.homeTit {
    font-family: 'Indie Flower', cursive;
    font-size: 20 px;
    text-align: center;
    color: #3FCC9D;

}

.img {
    text-align: center;
}

.homeBut{
    font-family: 'Indie Flower', cursive;
    font-size: 10 px;
    text-align: center;
    background: #CFD1CD;
    color: #3FCC9D;
}

.home {
    background: #EFEFEF;
}


