page-login {

}

.login {
    background: #EFEFEF;
}

.loginTit {
    font-family: 'Indie Flower', cursive;
    font-size: 25 px;
    color: #3FCC9D;
    text-align: center;
}

.but{
    font-family: 'Indie Flower', cursive;
    font-size: 10 px;
    text-align: center;
    color: #3FCC9D;
    background: #CC7F75;
}

.item {
    font-family: 'Indie Flower', cursive;
    color: #CC7F75;
}