
<ion-header>

  <ion-navbar>
    <ion-title>Usuario:{{nombre}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

  

<ion-toolbar no-border-button>
    <ion-segment [(ngModel)]="info" color="coloruno">
      <ion-segment-button value="estuve">
            <div> 
          <ion-icon name='checkbox-outline' color="gris"></ion-icon> <br />
              <label class="textoBoton">Ya estuve aquí</label> 
            </div>
        
      </ion-segment-button>
      <ion-segment-button value="guardados">
            <div> 
              <ion-icon name='heart-outline' color="gris"></ion-icon> <br />
              <label class="textoBoton">Guardados</label> 
            </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  
 <div [ngSwitch]="info">
<ion-list *ngSwitchCase="'estuve'" inset>
 <ion-card col-12 col-md-6 col-lg-4 *ngIf="nomb != null">
      <img [src]="img" height="250"/>
    <ion-card-content>
      <ion-card-title>
        {{nomb}}
      </ion-card-title>
      <p>
        {{direc}}
      </p>
      <p>
        {{tel}}
      </p>
      <p>
        {{tip}}
      </p>
    </ion-card-content>
    <button ion-col col-3 ion-button clear block class="homeBut" item-right (click)="quitarE()">Eliminar</button>
  </ion-card>
  <h2 *ngIf= "nomb == null" color="secondary">Usted no ha guardado ningún restaurante</h2>
</ion-list>

<ion-list *ngSwitchCase="'guardados'" inset>
  <ion-card col-12 col-md-6 col-lg-4 *ngIf="nom != null">
      <img [src]="imagen" height="250"/>
    <ion-card-content>
      <ion-card-title>
        {{nom}}
      </ion-card-title>
      <p>
        {{direccion}}
      </p>
      <p>
        {{telefono}}
      </p>
      <p>
        {{tipo}}
      </p>
    </ion-card-content>
    <button ion-col col-3 ion-button clear block class="homeBut" item-right (click)="quitarG()">Eliminar</button>
  </ion-card>
  <h2 *ngIf= "nom == null" color="secondary">Usted no ha guardado ningún restaurante</h2>
</ion-list>
 </div>

</ion-content>


